<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.printerk1.cordova" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>printerk1</name>
  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>
  <js-module name="printerk" src="www/printerk.js">
    <clobbers target="printerk" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="Printer">
        <param name="android-package" value="com.printerk.cordova.Printer" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="com.sunmi.extprinterservice.ExtPrinterService">
        <intent-filter>
          <action android:name="com.sunmi.extprinterservice.ExtPrinterService" />
        </intent-filter>
      </service>
    </config-file>
    <source-file src="src/android/Printer.java" target-dir="src/com/printerk/cordova/Printer" />
    <source-file src="src/android/com/sunmi/extprinterservice/ExtPrinterService.aidl" target-dir="src/com/sunmi/extprinterservice/"/>
  </platform>
</plugin>
